html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--bs-body-font-family); /* Uses Bootstrap's default font */
}
.footer {
  
  color: white;
  padding: 1rem;
  text-align: center;
}